
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<table id="grid" class="table table-striped">
    <thead>
        <tr>
            <th>Edit</th>
            <th>SystemEnable</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var grid = $('#grid').DataTable({
                "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
                "bProcessing": true,
                "bSort": true,
                "bServerSide": true,
                "sAjaxSource": "/ApiRoles/Data",
                "aoColumnDefs": [
                    {
                        "fnRender": function (oObj) {
                            return "<a href='#" + oObj.aData[0] + "'>Edit</a>";
                        },
                        "sName": "Id",
                        "bSortable": false,
                        "aTargets": [0]
                    },
                    {
                        "sName": "SystemEnable",
                        "bSearchable": true,
                        "bSortable": true,
                        "aTargets": [1]
                    }
                ]
            });
            grid.fnSetFilteringDelay(1000);
        });
    </script>
}