@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Error | cashme</title>
    <!-- Tell the browser to be responsive to screen width -->

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/Content/angulr/libs/assets/font-awesome/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/angulr/libs/assets/simple-line-icons/css/simple-line-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/angulr/libs/jquery/bootstrap/dist/css/bootstrap.css" type="text/css" />
    <link href="~/Content/angulr/html/css/app.min.css" rel="stylesheet" />

</head>
<body>
    <div class="app app-header-fixed ">


        <div class="container w-xxl w-auto-xs">
            <div class="text-center m-b-lg">
                <h1 class="text-shadow text-white">404</h1>
            </div>
            <div class="list-group bg-info auto m-b-sm m-b-lg">
                <a href="/Home" class="list-group-item">
                    <i class="fa fa-chevron-right text-muted"></i>
                    <i class="fa fa-fw fa-mail-forward m-r-xs"></i> Trang chủ
                </a>
            </div>
        </div>


    </div>

    <script src="~/Content/angulr/html/js/app.min.js"></script>

</body>
</html>
