@{
    ViewBag.Title = "Unauthorised";
}
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading b-b b-light">
            <a class="font-bold">@ViewBag.Title.</a>
        </div>
        <div class="panel-body">
            <h5 class="text-danger">OPPS! Bạn không được cấp quyền truy cập trang này!</h5>
        </div>
    </div>
</div>


