@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "Register";
}
<!-- .card -->
<section class="card">
    <!-- .card-body -->
    <div class="card-body">
        <fieldset>
            <legend>Associate your @ViewData["LoginProvider"] account.</legend>
            <form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <p class="text-info">
                    You've successfully authenticated with <strong>@ViewData["LoginProvider"]</strong>.
                    Please enter a user name for this site below and click the Register button to finish
                    logging in.
                </p>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">Register</button>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
    <!-- /.card-body -->
</section>
