@{
    ViewData["Title"] = "Login Failure";
}
<!-- .card -->
<section class="card">
    <!-- .card-body -->
    <div class="card-body">
        <fieldset>
            <legend>@ViewData["Title"].</legend>
            <h6 class="text-danger">Unsuccessful login with service.</h6>
        </fieldset>
    </div>
    <!-- /.card-body -->
</section>
