@{
    ViewData["Title"] = "Forgot Password Confirmation";
}
<!-- .card -->
<section class="card">
    <!-- .card-body -->
    <div class="card-body">
        <fieldset>
            <legend>@ViewData["Title"].</legend>
            <p>
                Please check your email to reset your password.
            </p>
        </fieldset>
    </div>
    <!-- /.card-body -->
</section>
