@{
    ViewData["Title"] = "Locked out";
}
<!-- .card -->
<section class="card">
    <!-- .card-body -->
    <div class="card-body">
        <fieldset>
            <legend>@ViewData["Title"].</legend>
            <h4 class="text-danger">Locked out.</h4>
            <h5 class="text-danger">This account has been locked out, please try again later.</h5>
        </fieldset>
    </div>
    <!-- /.card-body -->
</section>
