@{
    ViewData["Title"] = "Reset password confirmation";
}
<!-- .card -->
<section class="card">
    <!-- .card-body -->
    <div class="card-body">
        <fieldset>
            <legend>@ViewData["Title"].</legend>
            <p>
                Your password has been reset. Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.
            </p>
        </fieldset>
    </div>
    <!-- /.card-body -->
</section>
