@{
    ViewBag.Title = "Test";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Demo</title>
    <meta name="description" content="The eByte project, using the blockchain technology and its smart contracts, is the first internationally established money system for the E-Sports community.">
    <meta name="keywords" content="eSports, blockchain, bitcoin, eByte, cryptocurrency, ico, crowdfunding, crowdsale">
    <meta charset="utf-8">
    <meta name="author" content="eByte Development Team">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">
    <meta property="og:site_name" content="eByte - eSports Community">
    <meta property="og:title" content="eByte eSports Blockchain">
    <meta property="og:description" content="The eByte project, using the blockchain technology and its smart contracts, is the first internationally established money system for the E-Sports community.">
    <meta property="og:image" content="https://www.ebyte.sale/images/logo.png">
    <meta property="og:url" content="https://www.ebyte.sale/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="eByte Logo">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="en.html">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/assets/template/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/assets/template/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/assets/template/images/icons/favicon-16x16.png">
    <link rel="manifest" href="~/Content/assets/template/images/icons/site.webmanifest">
    <link rel="mask-icon" href="~/Content/assets/template/images/icons/safari-pinned-tab.svg" color="#ffffff">
    <link rel="shortcut icon" href="~/Content/assets/template/images/icons/favicon.ico">
    <link rel="preload" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" as="style" onload='this.rel="stylesheet"'>
    <noscript>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css">
    </noscript>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans" as="style" onload='this.rel="stylesheet"'>
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    </noscript>
    <link rel="preload" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" as="style" onload='this.rel="stylesheet"'>
    <noscript>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    </noscript>
    <link rel="preload" href="~/Content/assets/template/css/style.min.css" as="style" onload='this.rel="stylesheet"'>
    <noscript>
        <link rel="stylesheet" href="~/Content/assets/template/css/style.min.css">
    </noscript>
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>

<body ng-app="MyApp" ng-cloak>
    <div class="blur-wrapper" ng-controller="IndexController">

        <div class="header-wrapper navbar-fixed-top">
            <nav id="navbar-main" class="navbar main-menu">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle Navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                        @*<a class="navbar-brand page-scroll" href="#intro-section"><img src="~/Content/assets/template/images/brand-header.svg" alt="Brand" class="img-responsive logo"></a>*@
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" class="blue-underline page-scroll">Trang chủ</a></li>
                            <li><a href="#token-details" class="blue-underline page-scroll">Tài khoản</a></li>
                            <li><a href="#community" class="blue-underline page-scroll">Hướng dẫn</a></li>
                            <li><a href="#team" class="blue-underline page-scroll">Liên hệ</a></li>
                            <li class="hidden-sm hidden-md wp-nav" style="margin-top:3px">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a href="#" style="padding-top:0">
                                        <button type="button" class="btn btn-fill" style="width:100%">${{Balance}}</button>
                                    </a>
                                }
                                else
                                {
                                    <a href="/account/login" style="padding-top:0">
                                        <button type="button" class="btn btn-fill" style="width:100%">Đăng nhập <i class="fas fa-angle-right"></i></button>
                                    </a>
                                }
                            </li>
                            <li class="hidden-sm hidden-md wp-contr" style="margin-top:30px">
                                <button type="button" class="btn btn-fill ico-reg-btn" style="width:100%">BUY EBYTE NOW <i class="fas fa-angle-right"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>




        <section class="intro-section" id="intro-section">
            <div class="content-wrapper">
                <div class="container crowdsale-content">
                    <div class="row body-row">
                        <div class="col-md-6 center-align-hero" ng-show="Status == 3 || Status == 4" ng-class="Status == 4 ? 'col-md-offset-3' : ''">
                            <div ng-show="Status == 4">
                                <h2 class="title-1">Chúc mừng người thắng cuộc: </h2>
                                <h2 class="title-2">{{UserWin.UserName}}</h2>
                                <p class="para-1">Với cơ hội thắng là <span style="color:#03d1fd;font-weight:700">{{UserWin.Percent}}%</span> - giải thưởng nhận được là <span style="color:#00ff07;font-weight:700;font-size:20px">${{UserWin.TotalBet}}</span></p>
                            </div>
                            <div ng-show="Status == 3">
                                <h2 class="title-2">Đang tìm kiếm người thắng cuộc:</h2>
                            </div>
                            <div class='container-spin' ng-show="Status == 3 || Status == 4">
                                <div class='rafflebox'>
                                    <div class='arrow-down'></div>
                                    <div class='arrow-up'></div>
                                    <div class='boxwrapper'>
                                        <ul class='giftwrapper'>
                                            <li class='gift' ng-repeat="item in InfoChartsByRoom">
                                                <img ng-src='{{item.AvatarLink}}'>
                                                <p>{{item.UserName}}</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            @*<button class='button-spin'>Let's Go Luck</button>*@


                        </div>

                        <div class="col-md-6 center-align-hero text-center" ng-show="Status == 1 || Status == 2 || Status == 3">
                            <div style="width:550px;height:500px; margin: 0 auto">
                                <div id="raw-chart"></div>
                            </div>
                        </div>
                        <div class="col-md-6 center-align-hero text-center" ng-show="Status == 0">
                            <div style="width:550px;height:500px; margin: 0 auto">
                                <div style="margin-top:100px">
                                    <h3 class="title-3" style="color:#00ff07;line-height:30px">Đang đợi người tham gia</h3>
                                    <img src="https://loading.io/spinners/gears/index.dual-gear-loading-icon.svg" />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 crowdsale-sale-box" ng-show="Status == 0 || Status == 1 || Status == 2">
                            <div class="ticker-bg-top text-center">
                                <div class="col-xs-8">
                                    <h2 class="title-3">Giải thưởng vòng này:</h2>
                                </div>
                                <div class="col-xs-4">
                                    <p class="title-bonus">${{TotalBet}}<span ng-show="TotalBet > 0">+</span></p>
                                </div>
                            </div>
                            <div class="ticker-bg-bottom text-center">
                                <div class="bet-waiting" ng-show="Status == 0 || Status == 1">
                                    <h3 class="title-2" style="color:#00ff07;line-height:30px">BET sẽ bắt đầu khi có ít nhất 2 người chơi...</h3>
                                </div>
                                <div class="bet-started" ng-show="Status == 2">
                                    <h1 class="title-3">Sẽ kết thúc trong:</h1>
                                    <div class="crowdsale-countdown">
                                        <table class="countdown-table">
                                            <tr>
                                                <td>
                                                    <div class="time">
                                                        <div class="minutes">{{CountDown.minutes}}</div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="time">
                                                        <div class="seconds"><span ng-class="CountDown.seconds < 10 ? 'animated infinite rollOut delay-1s' : ''">{{CountDown.seconds}}</span></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="time tdesc">phút</div>
                                                </td>
                                                <td>
                                                    <div class="time tdesc">giây</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <form id="frmBet" name="frmBet" class="needs-validation" novalidate="">
                                    <div class="progress-bar-img-bg">
                                        <div class="">
                                            <input ng-model="ObjBet.AmountBet" type="text" required="" class="form-control text-center" style="height:50px;font-size:20px;font-weight:bold;" placeholder="Số tiền" />
                                        </div>
                                    </div>
                                    <input type="submit" ng-disabled="frmBet.$invalid" class="medium-btn btn btn-fill pulse-button" ng-click="Bet()" style="width:50%" value="BET">
                                </form>

                            </div>
                        </div>


                    </div>
                    <div align="center">
                        <div class="room_div" ng-repeat="item in Rooms" ng-class="RoomId == item.RoomId ? 'active_room' : ''" id="Room_{{item.RoomId}}">
                            <a href="/?room={{item.RoomId}}">
                                <h5 style="color:#00ff07">{{item.RoomName}}</h5>
                                <img ng-show="item.TotalUser == 0" src="https://loading.io/spinners/gears/index.dual-gear-loading-icon.svg" style="height:35px" />
                                <div ng-show="item.TotalUser > 0">
                                    <div style="display: block; color: rgb(255, 255, 255);">Đang chơi: <span>{{item.TotalUser}}</span></div>
                                    <div style="display: block; color:rgb(255, 225, 0)">Giải thưởng: <span>{{item.TotalBet}}</span><span ng-show="item.TotalBet > 0">+</span></div>
                                </div>
                            </a>

                        </div>
                    </div>

                </div>
            </div>

        </section>
        <section class="token-details-section">
            <span class="anchor" id="token-details"></span>
            <div class="container text-center">
                <h4 style="padding-bottom:10px;margin-top:50px" class="gradient-h4">ICO details &amp; funds security:</h4>
                <div class="table-responsive" style="margin-top:20px">
                    <table class="table table-striped custab token-sale-plan" border="1">
                        <thead>
                            <tr>
                                <td><b>ICO STAGE</b></td>
                                <td><b>BONUS</b></td>
                                <td><b>NUMBER OF TOKENS</b></td>
                                <td><b>BONUS TOKENS</b></td>
                                <td><b>HARD CAP</b></td>
                                <td><b>TOKEN PRICE</b></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="pre-sale">
                                <td>Public Pre ICO</td>
                                <td>Max 30%</td>
                                <td>280,000 EBYTE</td>
                                <td>84,000 EBYTE</td>
                                <td>7,300 ETH</td>
                                <td>1 ETH = 50 EBYTE</td>
                            </tr>
                            <tr class="ico1">
                                <td>ICO First Stage</td>
                                <td>20%</td>
                                <td>100,000 EBYTE</td>
                                <td>20,000 EBYTE</td>
                                <td>2,700 ETH</td>
                                <td>1 ETH = 46 EBYTE</td>
                            </tr>
                            <tr class="ico2">
                                <td>ICO Second Stage</td>
                                <td>10%</td>
                                <td>100,000 EBYTE</td>
                                <td>10,000 EBYTE</td>
                                <td>2,700 ETH</td>
                                <td>1 ETH = 42 EBYTE</td>
                            </tr>
                            <tr class="ico">
                                <td>ICO Regular Stage</td>
                                <td>0%</td>
                                <td>656,000 EBYTE</td>
                                <td>0 EBYTE</td>
                                <td>17,300 ETH</td>
                                <td>1 ETH = 38 EBYTE</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <style>
            #footer {
                position: fixed;
                bottom: 0;
                width: 100%;
            }

            #footer {
                background: rgba(29, 77, 117, .5);
                text-align: center;
                height: 90px;
            }

            .room_div {
                display: inline-block;
                font-size: 14px;
                font-weight: bold;
                padding: 4px;
                vertical-align: top;
                border: 2px solid #1f5380;
                margin-right: 10px;
                width: 150px;
                height: 90px;
            }

            .active_room {
                border: 2px solid #00ff07;
            }
        </style>


        @*<div id="footer">
            <div align="center">
                <div class="room_div" ng-repeat="item in Rooms" ng-class="RoomId == item.RoomId ? 'active_room' : ''" id="Room_{{item.RoomId}}">
                    <a href="/?room={{item.RoomId}}">
                        <h5 style="color:#00ff07">{{item.RoomName}}</h5>
                        <img ng-show="item.TotalUser == 0" src="https://loading.io/spinners/gears/index.dual-gear-loading-icon.svg" style="height:35px" />
                        <div ng-show="item.TotalUser > 0">
                            <div style="display: block; color: rgb(255, 255, 255);">Đang chơi: <span>{{item.TotalUser}}</span></div>
                            <div style="display: block; color:rgb(255, 225, 0)">Giải thưởng: <span>{{item.TotalBet}}</span><span ng-show="item.TotalBet > 0">+</span></div>
                        </div>
                    </a>

                </div>
            </div>
        </div>*@





    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/Content/assets/template/js/script.min.js"></script>
    <script>
        // Create the chart
        var chartOptions = {
            chart: {
                renderTo: 'raw-chart',
                type: 'column',
                backgroundColor: 'rgba(255, 255, 255, 0.0)'
            },
            title: {
                text: 'Tỷ lệ thắng',
                style: {
                    color: '#03d1fd',
                    font: 'bold 25px "Tahoma", Verdana, sans-serif'
                }
            },
            xAxis: {
                type: 'category',
                labels: {
                    style: {
                        color: 'white'
                    }
                },
            },
            yAxis: {
                min: 0, max: 100,
                tickInterval: 20,
                title: {
                    text: '',
                },
                labels: {
                    style: {
                        color: 'white'
                    }
                },
                gridLineColor: 'white'
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.Percent:.1f}%',
                        color: 'white'
                    }
                }
            },

            tooltip: {
                formatter: function () {
                    var s = 'Người chơi: <b>' + this.point.UserName + '</b><br/>';
                    s += 'Số tiền: <b>$' + this.point.AmountBet + '</b>, Tỷ lệ: <b>' + this.point.Percent + '%</b><br/>';
                    return s;
                }
            },
            credits: {
                enabled: false
            },

            "series": [
                {
                    "name": "Username",
                    "colorByPoint": true,
                    "data": [
                        //{
                        //    "name": "Chrome",
                        //    "UserName": "duy",
                        //    "AmountBet": 10,
                        //    "y": 80,
                        //    "Percent": 80,
                        //}
                    ]
                }
            ]
        };
        var chart = new Highcharts.Chart(chartOptions);

    </script>

    <!-- End custom js for this page-->
    <script src="~/Content/assets/javascript/site.js"></script>
    <script src="~/Content/assets/vendor/lodash/core.js"></script>
    <script src="~/Content/assets/angular-1.6.3/angular.min.js"></script>
    <script src="~/Content/assets/angular-1.6.3/angular-route.min.js"></script>
    <script src="~/Content/assets/app/app-bundle.js"></script>
    <!-- SIGNALR-->
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        var widgetSvc = function ($, $rootScope) {
            var proxy = null;

            var initialize = function () {

                // fetch connection object and create proxy
                var connection = $.hubConnection();
                this.proxy = connection.createHubProxy('bet');

                // start connection
                connection.start();

                this.proxy.on('newBet', function (data) {
                    $rootScope.$emit("newBet", data);
                });
            };

            var sendRequest = function () {
                // invoke sendWidget method defined in hub
                this.proxy.invoke('sendBet');
            };

            return {
                initialize: initialize,
                sendRequest: sendRequest
            };
        };
        widgetSvc.$inject = ["$", "$rootScope"];

        addFactory("widgetSvc", widgetSvc);

    </script>

    <script>
        var IndexController = ($scope, $rootScope, $timeout, $filter, $compile, ApiHelper, CommonHelper, UtilFactory, DataFactory, $q, widgetSvc, $interval) => {
            //#region SignalR
            $scope.sendBet = function () {
                widgetSvc.sendRequest();
            };
            //#endregion
            widgetSvc.initialize();
            $scope.$parent.$on("newBet", function (e, data) {
                $scope.$apply(function () {
                    GetInfoRooms(data.RoomId);
                    if (data.RoomId == $scope.RoomId) {
                        GetInfoChartsByRoom(data.RoomId);
                    }
                });
            });

            $scope.RoomId = @ViewBag.Room;
            $scope.BetId = 0;

            $scope.Rooms = [];
            $scope.InfoChartsByRoom = [];


            $scope.TotalBet = 0;
            //show SẼ KẾT THÚC TRONG hoac BET SẼ BẮT ĐẦU KHI CÓ ÍT NHẤT 2 NGƯỜI CHƠI...
            $scope.IsStart = true;
            $scope.IsFinished = false;
            $scope.Status = 0;// chưa có người chơi => hiển thị text "BET SẼ BẮT ĐẦU KHI CÓ ÍT NHẤT 2 NGƯỜI CHƠI..." và HighCharts
            //$scope.Status = 1;// có 1 người chơi
            //$scope.Status = 2;// đã có 2 người chơi trở lên => hiển thị ô đếm thời gian => bắt đầu đếm giờ, vẫn giữ HighCharts
            //$scope.Status = 3;// Kết thúc đếm giờ => ẩn ô cược, ô đếm, text.. bên phải, show vòng chạy và text Đang tìm người thắng cuộc + hiển thị HighCharts
            //$scope.Status = 4;// Kết thúc vòng chạy => show người thắng cuộc, giữ 5s quay lại bước 1
            $scope.ObjBet = {
                RoomId: $scope.RoomId,
            };

            $scope.UserWin = {
                TotalBet : 0,
                TotalUser: 0,
                Winner: 0,
                UserName: "",
                Percent: 0
            };

            function Spin() {
                let strApiEndPoint = CommonHelper.ServiceUrl + "ResultBet?betId=" + $scope.BetId;
                ApiHelper.PostMethod(strApiEndPoint)
                    .then(function (response) {
                        $scope.UserWin = response.Data;
                        console.log($scope.UserWin);
                        let giftamount = $scope.UserWin.TotalUser;
                        let gw = $('.gift').outerWidth(true);
                        let giftcenter = gw / 2;
                        let cycle = 7;
                        let containercenter = $('.boxwrapper').outerWidth(true) / 2;
                        for (var i = 0; i <= giftamount; i++) {
                            let giftduplicate = $('.giftwrapper').children().clone(true, true);
                            $('.giftwrapper').append(giftduplicate);
                        }
                        //random result
                        let result = $scope.InfoChartsByRoom.map(e => e.UserId).indexOf($scope.UserWin.Winner);//Math.floor((Math.random() * giftamount) + 1);
                        let distance = (giftamount) * gw * cycle + containercenter + (result * gw) - giftcenter;

                        $(".giftwrapper").css({ left: "0" });

                        $('.giftwrapper').animate({ left: "-=" + distance }, 3000, function () {
                            $timeout(function () {
                                $scope.Status = 4;
                                //refresh
                                $timeout(function () {
                                    $scope.Status = 0;
                                    $('.giftwrapper').removeAttr('style');
                                    $('.giftwrapper li').remove();
                                    GetBalance();
                                    GetInfoRooms($scope.RoomId);
                                    GetInfoChartsByRoom($scope.RoomId);
                                }, 5000);
                            }, 2000);
                        });
                    })
                    .catch(function (response) {

                    });

            }



            //#region Create bet
            $scope.Bet = function () {
                let strApiEndPoint = CommonHelper.ServiceUrl + "CreateBet";
                ApiHelper.PostMethod(strApiEndPoint, $scope.ObjBet)
                    .then(function (response) {
                        GetBalance();
                    })
                    .catch(function (response) {
                        if (response.StatusCode == 401) {
                            location.href = "/Account/Login";
                        }
                    });
            };
            //#endregion


            //#region get balance
            function GetBalance() {
                $scope.Balance = 0;
                @if (User.Identity.IsAuthenticated)
                {
                    <text>
                        let strApiEndPoint = CommonHelper.UserUrl + "GetBalance";
                        ApiHelper.PostMethod(strApiEndPoint)
                        .then(function (response) {
                            $scope.Balance = response.Data;
                        })
                        .catch(function (response) {
                            $scope.Balance = 0;
                    });
                     </text>
                }
            };
            //#endregion


            //Get thông tin phòng - param dùng để biết room nào có item mới
            function GetInfoRooms(roomId) {
                let defer = $q.defer();
                DataFactory.Rooms_Get()
                    .then(function (response) {
                        $scope.Rooms = response.Data;
                        let currenRoom = $scope.Rooms.filter(c => c.RoomId == $scope.RoomId)[0];
                        $scope.TotalBet = currenRoom.TotalBet;
                        $scope.BetId = currenRoom.BetId;
                        if (currenRoom.TotalUser == 1) {
                            $scope.Status = 1;
                        }
                        if (currenRoom.Finished) {
                            $scope.Status = 2;
                            var deadline = new Date(currenRoom.Finished);
                            $scope.CountDown.initializeClock(deadline);
                        }
                        //anmation
                        $timeout(function () {
                            AnimationRooms(roomId);
                        }, 500);

                        defer.resolve(response);
                    })
                    .catch(function (response) {
                        defer.reject(response);
                    });
                return defer.promise;
            }
            //Get thông tin chart
            function GetInfoChartsByRoom(roomId) {
                let defer = $q.defer();
                DataFactory.GetInfoChartsByRooms_Get(roomId)
                    .then(function (response) {
                     $scope.InfoChartsByRoom = response.Data;
                     //redraw chart
                    chart.destroy();
                     response.Data.forEach((x) => {
                        x.name = x.UserName;
                        x.y = x.Percent;
                    });
                     chartOptions.series[0].data = response.Data;
                    chart = new Highcharts.Chart(chartOptions);
                    defer.resolve(response);
                })
                    .catch(function (response) {
                        defer.reject(response);
                    });
                return defer.promise;
            }

            //Init
            UtilFactory.WaitingLoadDirective(
                [
                ]).then(() => {
                    $q.all({
                        Rooms: DataFactory.Rooms_Get(),
                        Charts: DataFactory.GetInfoChartsByRooms_Get($scope.RoomId)
                    }).then((MultipleRes) => {
                        $scope.Rooms = MultipleRes.Rooms.Data;
                        let currenRoom = $scope.Rooms.filter(c => c.RoomId == $scope.RoomId)[0];
                        $scope.TotalBet = currenRoom.TotalBet;
                        $scope.BetId = currenRoom.BetId;
                        if (currenRoom.TotalUser == 1) {
                            $scope.Status = 1;
                        }
                        if (currenRoom.Finished) {
                            $scope.Status = 2;
                            var deadline = new Date(currenRoom.Finished);
                            $scope.CountDown.initializeClock(deadline);
                        }
                        $scope.InfoChartsByRoom = MultipleRes.Charts.Data;
                        //redraw chart
                        chart.destroy();
                        MultipleRes.Charts.Data.forEach((x) => {
                            x.name = x.UserName;
                            x.y = x.Percent;
                        });
                        chartOptions.series[0].data = MultipleRes.Charts.Data;
                        chart = new Highcharts.Chart(chartOptions);
                        GetBalance();
                    });
                }).catch((response) => {
                    throw response;
                });

            ;


            //Timer
            $scope.CountDown = {
                days: 0,
                hours: 0,
                minutes: 0,
                seconds: 0,
                getTimeRemaining: function (endtime) {
                    var t = Date.parse(endtime) - Date.parse(new Date());
                    var seconds = Math.floor((t / 1000) % 60);
                    var minutes = Math.floor((t / 1000 / 60) % 60);
                    return {
                        'total': t,
                        'minutes': minutes,
                        'seconds': seconds
                    };
                },

                initializeClock: function (endtime) {
                    function updateClock() {
                        var t = $scope.CountDown.getTimeRemaining(endtime);
                        $scope.CountDown.minutes = ('0' + t.minutes).slice(-2);
                        $scope.CountDown.seconds = ('0' + t.seconds).slice(-2);
                        //finished
                        if (t.total <= 0) {
                            $interval.cancel(timeinterval);
                            $scope.Status = 3;
                            //quay
                            Spin();
                        }
                    }

                    updateClock();
                    var timeinterval = $interval(updateClock, 1000);
                }
            }


            function AnimationRooms(roomId) {
                $('#Room_' + roomId).removeClass('flash animated').addClass('flash animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                    $(this).removeClass('flash animated');
                });
            };



        }
        IndexController.$inject = ["$scope", "$rootScope", "$timeout", "$filter", "$compile", "ApiHelper", "CommonHelper", "UtilFactory", "DataFactory", "$q", "widgetSvc", "$interval"];
        addController("IndexController", IndexController);
    </script>

</body>

</html>