@model Shared.Models.BootstrapModel

<!-- Demo modal 1 -->
<div id="@Model.ID" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog @Model.ModalSizeClass">

    </div>
</div>
